* {
  background: url("download.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
section {
  height: 100vh;
  width: 100%;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
}
h1 {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2rem;
}
.control input {
  padding: 10px;
  font-size: 16px;
  display: block;
  width: 100%;
  color: #000;
  background: #ddd;
  outline: none;
  border: none;
  margin: 1em 0;
}
.control .btn {
  color: #fff;
  text-transform: uppercase;
  background: crimson;
  opacity: 0.7;
}
.control .btn:hover {
  opacity: 1;
}
.btn:focus {
  opacity: 1;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
}
